<ion-header>
  <ion-navbar color='secondary'>
    <ion-title>CADASTRO</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <!-- Item principal -->
    <h1 text-center>
      <ion-icon class="auth-icon" name="ios-person-add" color="secondary"></ion-icon>
    </h1>
    
    <!-- Declaração form e suas funções -->
    <form [formGroup]="cadastro" (ngSubmit)="postDados()">
      <!-- Itens para cadastro -->
        <ion-item>
          <ion-label floating>Nome:</ion-label>
          <ion-input text-center type="text" placeholder="Meu Nome" formControlName="nome" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Telefone:</ion-label>
          <ion-input text-center type="number" placeholder="987654321" formControlName="telefone" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email:</ion-label>
          <ion-input text-center type="email" placeholder="meu@email.com" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Senha:</ion-label>
          <ion-input text-center type="password" placeholder="xxxxxx" formControlName="senha"></ion-input>
        </ion-item>
        
        <!-- Botão para enviar informações -->
        <button color="secondary" [disabled]="cadastro.invalid" ion-button full block>Criar conta</button>
    </form>
  
</ion-content>

