<ion-header>

  <ion-navbar color='secondary'>
    <ion-title text-center>ENTRAR</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <h1 text-center>
      <ion-icon class="auth-icon" name="ios-person" color="secondary"></ion-icon>
    </h1>
    
    <!-- Declaração form e suas funções
    <form [formGroup]="login" (ngSubmit)="postDados()">
      Itens para logar
      <ion-item>
        <ion-label floating>Nome:</ion-label>
        <ion-input type="email" placeholder="Email" value="email@email.com" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Senha:</ion-label>
        <ion-input type="password" placeholder="Senha" value="123456" formControlName="senha"></ion-input>
      </ion-item>

      <br/>
     Botão para enviar informações 
      <button color="secondary" ion-button full block [disabled]="login.invalid">Entrar</button>
    </form>-->

    <form #formCadastro="ngForm" (ngSubmit)="postLogin(formCadastro)">
        <ion-list>  
          <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="text" name="email" ngModel #email="ngModel"></ion-input>
          </ion-item>
           
          <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" name="senha" ngModel #senha="ngModel"></ion-input>
          </ion-item>
          <br/>
          <button [disabled]="loginForm.invalid" ion-button full block color="secondary">Enviar</button>    
        </ion-list>
      </form>
      <button color="secondary" ion-button full block (click)="onCreate()">Criar conta</button>
  
</ion-content>
