<ion-header>
  <ion-navbar color='secondary'>
      <button ion-button menuToggle>
        <ion-icon name="menu" color="light"></ion-icon>
      </button>
    <ion-title text-center>CONTATOS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="postDados(f)">
    <ion-list>
        <ion-item>
          <ion-label floating>Nome:</ion-label>
          <ion-input type="text" name="nome" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email:</ion-label>
          <ion-input type="text" name="email" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Título:</ion-label>
          <ion-input type="text" name="titulo" ngModel ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Mesagem:</ion-label>
          <ion-input type="text" name="mensagem" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button full block color="secondary">Enviar</button>
        </ion-item>
    </ion-list>
  </form>

  <!-- <h4 text-center>Fale conosco</h4>

  <form [formGroup]="mensagem" (ngSubmit)="postDados()">
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input type="text"  name="nome" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email"  name="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Título:</ion-label>
      <ion-input type="text"  name="titulo" formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mensagem:</ion-label>
      <ion-input type="text" name="mensagem" formControlName="mensagem"></ion-input>
    </ion-item>
    <br/>

    <button [disabled]="mensagem.invalid" ion-button full block color="secondary">Enviar</button>
  </form> -->

  <ion-list no-lines>
    <ion-item>
      <ion-icon name="person" color="secondary" item-left></ion-icon>
      <p>Clínica Endodiagnose</p>
    </ion-item>
    <ion-item>
        <ion-icon name="call" color="secondary" item-left></ion-icon>
      <p>(85) 3087 1112</p>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" color="secondary" item-left></ion-icon>
      <p>(85) 9 8901 1521 | 9 9788 0912</p>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" color="secondary" item-left></ion-icon>
      <p>contato@endodiagnose.com.br</p>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" color="secondary" item-left></ion-icon>
        <p>Av. Santos Dumont, 1510, 
        <br/>Edifício Manhattan Square Garden <wbr>(Sala 407) 
        <br/>4º andar - Aldeota,
        <br/> Fortaleza-CE CEP: 60.150-161</p>
    </ion-item>
  </ion-list>
</ion-content>