<ion-header>
  <ion-navbar color='secondary'>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title text-center>ENDODIAGNOSE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <h1 text-center>
    <ion-img width="100" height="100" src="../../assets/icon/favicon.png"></ion-img>
  </h1>

  <div text-center>
    <h2 color="secondary">ENDODIAGNOSE</h2>
    <p color="secondary">GASTROENDOSCOPIA E COLOPROCTOLOGIA</p>
  </div>
  
  <br/>

  <div>
    <button ion-button color="secondary" full (click)="onConsulta()">AGENDAR CONSULTA</button>
    <button ion-button color="secondary" full (click)="onExame()">AGENDAR EXAME</button>
  </div>

</ion-content>
