<ion-header>
  <ion-navbar color='secondary'>
    <ion-title>ESPECIALIDADES</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <!-- Recebendo as informações e mostrando os Exames -->
    <button ion-item *ngFor="let espExame of espExames" (click)="medicoEscolha(espExame.id_esp_exame)">
      <h3>{{ espExame.titulo }}</h3>
    </button>
  </ion-list>
</ion-content>