<ion-header>
  <ion-navbar color='secondary'>
    <ion-title>ESPECIALIDADES</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <!-- Recebendo as informações e mostrando as consultas -->
    <button ion-item *ngFor="let espConsulta of espConsultas" (click)="medicoEscolha(espConsulta.id_especialidades)">
      <h3>{{ espConsulta.titulo }}</h3>
    </button>
  </ion-list>
</ion-content>
