<ion-header>

  <ion-navbar color='secondary'>
    <ion-title>MÉDICOS DA ESPECIALIDADE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <ion-item no-lines>
      <!-- Recebendo as informações e mostrando as consultas -->
      <button ion-item *ngFor="let medico of medicos" (click)="concluirExame()">
        <h3>{{ medico.nome }}</h3>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
