<ion-header>
  <ion-navbar>
    <ion-title>CADASTRAR EXAME</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label>Convenio</ion-label>
        <ion-select [(ngModel)]="convenio">
          <ion-option *ngFor="let convenio of convenios" [value]="convenio">{{ convenio.nome }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Selecione a data:</ion-label>
      <ion-datetime displayFormat="DD: MM YYYY" pickerFormat="DD MM YYYY" max="2020-12-31" [(ngModel)]="dataExame"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Selecione a hora:</ion-label>
      <ion-datetime displayFormat="HH: mm" pickerFormat="HH mm" [(ngModel)]="horaExame"></ion-datetime>
    </ion-item>
      <button ion-button block color="secondary" (click)="onExame()">Enviar</button>
  </ion-list>
</ion-content>
